
  /* The Modal (background) */
.modal {
  /* Hidden by default */
  display: none;
  /* Stay in place */
  position: fixed;
  /* Sit on top */
  z-index: 15;
  /* Location of the box */
  left: 0;
  top: 0;
  /* Full width */
  width: 100%;
  /* Full height */
  height: 100%;
  /* Enable scroll if needed */
  overflow: auto;
  /* Fallback color */
  background-color: rgb(0, 0, 0);
  /* Black w/ opacity */
  background-color: rgba(0, 0, 0, 0.9);
  /* Flexboxing */
  flex-wrap: wrap;
  /* Center flex items vertically */
  align-items: center;
  /* Center flex items and horizontally */
  justify-content: center;
}

/* Modal Content (Image) */
.modal-content {
  margin: 1rem;
  width: 700px;
  max-width: 80%;
  align-self: flex-end;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: 1rem;
  display: block;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  flex-basis: 80%;
  align-self: flex-start;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
