/* Coolors Exported Palette - coolors.co/cb6d6b-9b7282-57383d-153143-ba7989 */

/* HSL */
$color1: hsla(1%, 48%, 61%, 1);
$color2: hsla(337%, 17%, 53%, 1);
$color3: hsla(350%, 22%, 28%, 1);
$color4: hsla(203%, 52%, 17%, 1);
$color5: hsla(345%, 32%, 60%, 1);

/* RGB */
$color1: rgba(203, 109, 107, 1);
$color2: rgba(155, 114, 130, 1);
$color3: rgba(87, 56, 61, 1);
$color4: rgba(21, 49, 67, 1);
$color5: rgba(186, 121, 137, 1);