body {
  background-color: #fbf9f9;
  color: #3f4156;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  line-height: 62px;
  font-size: 58px;
  margin: 0 0 23px 0;
  text-align: center;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 2px;
  margin: 0 0 23px 0;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 23px 0;
}

/*
Albums: Flexbox
*/
.albums {
  text-align: center;
}

.albums h2 {
  font-size: 32px;
  line-height: 36px;
  /* rosySkin */
  background: #ffc2b4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.albums img {
    width: auto;
    max-height: 250px;
    margin: 5px;
}


.header {
  height: 280px;
  background: #f36465;
  /* red */
  color: #fbf9f9;
  /* white */
  text-align: center;
}

a {
  color: inherit;
}

/*
Color palette coming from dribbble.com, https://dribbble.com/shots/4334912-Cure-Mobile-App#
See images/palette.png for reference
*/

/* Background colors */

.background-red {
  background: #f36465;
}

.background-white {
  background: #fbf9f9;
}

.background-peach {
  background: #fe9f95;
}

.background-skin {
  background: #eccfd0;
}

.background-black {
  background: #3f4156;
}

.background-rosySkin {
  background: #ffc2b4;
}

/* Text colors */

.red {
  color: #f36465;
}

.white {
  color: #fbf9f9;
}

.peach {
  color: #fe9f95;
}

.skin {
  color: #eccfd0;
}

.black {
  color: #3f4156;
}

.rosySkin {
  color: #ffc2b4;
}

/* SASS */

/*
$swatch_1: #f36465;
$swatch_2: #fbf9f9;
$swatch_3: #fe9f95;
$swatch_4: #eccfd0;
$swatch_5: #3f4156;
$swatch_6: #ffc2b4;
*/

/* LESS */

/*
@swatch_1: #f36465;
@swatch_2: #fbf9f9;
@swatch_3: #fe9f95;
@swatch_4: #eccfd0;
@swatch_5: #3f4156;
@swatch_6: #ffc2b4;
*/
