html {
  Font-Family: 'Open Sans', Sans-Serif;
  Font-Size: 15px;
  /* Palette colors */
  --main-color: #9B7282;
  --secondary-color: #edcdcd;
  --accent-color: #57383d;
  /* Whites */
  --main-bg-color: #F8F2F4;
  /* Greys */
  --main-txt-color: #153143;
}

body {
  color: var(--main-txt-color, lightslategrey);
  background-color: var(--main-bg-color, antiquewhite);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  Font-Family: 'Work Sans', Sans-Serif;
  padding: 2rem;
}

h1 {
  font-Size: 3.75rem;
  line-height: 2;
}

h2 {
  font-size: 2rem;
}

p {
  Font-Family: 'Open Sans', Sans-Serif;
  Font-Size: 1rem;
  line-height: 1.5;
}

a {
  color: inherit;
}

/* Header & Footer */
header, footer {
  position: sticky;
  width: 100%;
  z-index: 10;
  background-color: var(--main-color, palevioletred);
  opacity: 0.96;
  transition: transform .5s ease-in-out;
  color: #fbf9f9;
  box-shadow: 0 0 6px rgba(0, 0, 0, .1);
}

header {
  top: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.33rem;
}

nav, footer {
  padding: 1.33rem;
  text-align: right;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
}

nav a {
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 0.5rem 1rem;
}

/* Banner Section */
.banner {
  background-image: url('..\\..\\resources\\img\\roberto-nickson-5wFcCUT9THY-unsplash.jpg');
  background-position: center;
  background-size: cover;
  height: 46rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--main-bg-color, antiquewhite);
}

/* Gallery: Flexbox */
.gallery {
  background: var(--secondary-color, mistyrose);
  padding: 4rem 6rem;
  text-align: center;
}

.gallery p {
  display: inline-block;
  text-align: center;
  width: 75%;
  padding: 2rem;
}

.gallery h2 {
  text-transform: capitalize;
}

.gallery img {
  max-height: 13rem;
  margin: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, .1);
}

.album {
  background: var(--main-bg-color, antiquewhite);
  border-radius: 5px;
  padding: 2rem;
  margin: 4rem 3rem;
}

/* Flexbox */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .gallery {
    padding: 4rem 0rem;
  }

  nav {
    text-align: center;
  }
}
