html {
  Font-Family: 'Open Sans', Sans-Serif;
  Font-Size: 15px;
}

body {
  background-color: #fbf9f9;
  color: #3f4156;
  margin: 0;
}

h1 {
  Font-Family: 'Work Sans', Sans-Serif;
  Font-Size: 3rem;
  text-align: center;
  padding: 5rem;
}

h2, h3, h4, h5, h6 {
  Font-Family: 'Work Sans', Sans-Serif;
}

h2 {
  font-size: 2rem;
}

p {
  Font-Family: 'Open Sans', Sans-Serif;
  Font-Size: 15px;
}

a {
  color: inherit;
}

/* header */
header {
  position: fixed;
  width: 100%;
  background-color: #fbf9f9;
  z-index: 10;
  background-color: #9B7282;
  opacity: 0.8;
}

nav {
  padding: 1.33rem;
  direction: rtl;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav li {
  color: #fbf9f9;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  display: inline-block;
  width: 8rem;
  text-align: center;
}

/* Banner Section */
#banner {
  background-image: url('..\\..\\resources\\img\\roberto-nickson-5wFcCUT9THY-unsplash.jpg');
  background-position: center;
  background-size: cover;
  height: 46rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner h1 {
  font-size: 3.75rem;
  color: white;
}

/*
Gallery: Flexbox
*/
.gallery {
  text-align: center;
}

.gallery h2 {
  /* font-size: 32px;
  line-height: 36px;
  padding-top: 5rem; */
  /* rosySkin */
  background: #ffc2b4;
  text-transform: capitalize;
}

.gallery img {
  width: 28%;
  height: auto;
  padding: 1rem;
  margin: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  justify-content: space-evenly;
  align-items: center;
}